{%extends 'base.html'%}

{%block title%}
{%endblock%}

{%block content%}
{%include 'includes/header.html'%}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar Empleado: {{object.full_name}}</h1>

        <form class="cell" method="post">{%csrf_token%}

            <div class="callout alert">
                <h5>Estas seguro</h5>
                <button type="submit" class="alert button">Confirmar</button>       
              </div>
        </form> 
    </div>
</div>
{%endblock%}



