{%extends 'base.html'%}

{%block title%}
List departamento
{%endblock%}

{%block content%}
    {%include 'includes/header.html'%}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista departamneto</h1>
            <div class="cell">
                <table>
                    <tbody>
                        {% for departamento in departamentos %}
                        <tr>
                            <td>{{departamento.name}}</td>
                            <td>{{departamento.shor_name}}</td>
                            <td><a class="button warning" href="{% url 'persona_app:empleados_area' departamento.shor_name %}">Ver empleado</a></td>

                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{%endblock%}